<div class="p-24">
  <mat-card>
    <mat-card-subtitle>Mis datos</mat-card-subtitle>
    <mat-card-content>
      <form>
        <mat-accordion class="form_accordion">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Datos personales </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mat_panel_content">
              <mat-form-field appearance="outline">
                <mat-label>Nombre Completo</mat-label>
                <input type="text" matInput placeholder="Nombre Completo" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Número celular / móvil</mat-label>
                <input type="text" matInput placeholder="Número celular / móvil" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input type="text" matInput placeholder="Correo electrónico" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input type="text" matInput placeholder="Contraseña" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Pista contraseña</mat-label>
                <input type="text" matInput placeholder="Pista contraseña" />
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Datos fiscales </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mat_panel_content">
              <mat-form-field appearance="outline">
                <mat-label>Razón social</mat-label>
                <input type="text" matInput placeholder="Razón social" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>RFC</mat-label>
                <input type="text" matInput placeholder="RFC" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Domicilio Fiscal</mat-label>
                <input type="text" matInput placeholder="Domicilio Fiscal" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input type="text" matInput placeholder="Correo electrónico" />
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Datos bancarios </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mat_panel_content">
              <mat-form-field appearance="outline">
                <mat-label>Nombre del Banco</mat-label>
                <input type="text" matInput placeholder="Nombre del Banco" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Número completo del titular de cuenta</mat-label>
                <input type="text" matInput placeholder="Número completo del titular de cuenta" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Número de cuenta</mat-label>
                <input type="text" matInput placeholder="Número de cuenta" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>CLABE interbancaria</mat-label>
                <input type="text" matInput placeholder="CLABE interbancaria" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Pista contraseña</mat-label>
                <input type="text" matInput placeholder="Pista contraseña" />
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
  </mat-card>
</div>