<div class="p-24">
  <ng-container *ngIf="formGroup">
    <mat-card>
      <mat-card-subtitle>Mis datos</mat-card-subtitle>
      <mat-card-content>
        <form [formGroup]="formGroup">
          <mat-accordion class="form_accordion">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Datos generales </mat-panel-title>
              </mat-expansion-panel-header>
              <div [formGroup]="generalData()">
                <mat-tab-group>
                  <mat-tab label="Acceso">
                    <div class="mat_panel_content" [formGroup]="generalDataAccess()">
                      <mat-form-field appearance="outline">
                        <mat-label>Nombre Comercial</mat-label>
                        <input formControlName="comercialName" type="text" matInput placeholder="Nombre Comercial" />
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Número fijo establecimiento</mat-label>
                        <input formControlName="establishmentPhone" type="text" matInput placeholder="Número fijo establecimiento" />
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Correo electrónico</mat-label>
                        <input formControlName="email" type="text" matInput placeholder="Correo electrónico" />
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input formControlName="password" type="text" matInput placeholder="Contraseña" />
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Pista contraseña</mat-label>
                        <input formControlName="passwordHint" type="text" matInput placeholder="Pista contraseña" />
                      </mat-form-field>
                    </div>
                  </mat-tab>
                  <mat-tab label="Dirección">
                    <div class="mat_panel_content" [formGroup]="generalDataAddress()">
                      <mat-form-field appearance="outline">
                        <mat-label>Estado</mat-label>
                        <input formControlName="state" type="text" matInput placeholder="Estado" />
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Calle</mat-label>
                        <input formControlName="street" type="text" matInput placeholder="Calle" />
                      </mat-form-field>
                      <div>
                        <mat-form-field appearance="outline">
                          <mat-label>No. Ext</mat-label>
                          <input formControlName="extNum" type="text" matInput placeholder="No. Ext" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>No. Int</mat-label>
                          <input formControlName="intNum" type="tInt" matInput placeholder="No. Ext" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Código Postal</mat-label>
                          <input formControlName="postalCode" type="text" matInput placeholder="Código Postal" />
                        </mat-form-field>
                      </div>
                      <mat-form-field appearance="outline">
                        <mat-label>Colonia</mat-label>
                        <input formControlName="colonia" type="text" matInput placeholder="Colonia" />
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Alcaldia / Municipio</mat-label>
                        <input formControlName="alcaldia" type="text" matInput placeholder="Alcaldia / Municipio" />
                      </mat-form-field>
                    </div>
                  </mat-tab>
                  <mat-tab label="Encargado">
                    <div class="mat_panel_content" [formGroup]="generalDataInCharge()">
                      <mat-form-field appearance="outline">
                        <mat-label>Nombre Completo</mat-label>
                        <input formControlName="name" type="text" matInput placeholder="Nombre Completo" />
                      </mat-form-field>
                      <mat-form-field appearance="outline">
                        <mat-label>Celular del encargado</mat-label>
                        <input formControlName="phone" type="text" matInput placeholder="Celular del encargado" />
                      </mat-form-field>
                    </div>
                  </mat-tab>
                  <mat-tab label="Horarios">
                    <div class="mat_panel_content" [formGroup]="generalDataSchedules()">
                      <div fxLayout="row">
                        <mat-checkbox labelPosition="before">Lun</mat-checkbox>
                        <mat-checkbox labelPosition="before">Mar</mat-checkbox>
                        <mat-checkbox labelPosition="before">Mie</mat-checkbox>
                        <mat-checkbox labelPosition="before">Jue</mat-checkbox>
                        <mat-checkbox labelPosition="before">Vie</mat-checkbox>
                        <mat-checkbox labelPosition="before">Sab</mat-checkbox>
                        <mat-checkbox labelPosition="before">Dom</mat-checkbox>
                      </div>
                      <div>
                        <mat-form-field appearance="outline">
                          <mat-label>Hora apertura</mat-label>
                          <input formControlName="start" type="text" matInput placeholder="Hora apertura" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Hora cierre</mat-label>
                          <input formControlName="end" type="text" matInput placeholder="Hora cierre" />
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Datos fiscales </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="mat_panel_content" [formGroup]="fiscalData()">
                <mat-form-field appearance="outline">
                  <mat-label>Razón social</mat-label>
                  <input formControlName="businessName" type="text" matInput placeholder="Razón social" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>RFC</mat-label>
                  <input formControlName="rfc" type="text" matInput placeholder="RFC" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Domicilio Fiscal</mat-label>
                  <input formControlName="fiscalAddress" type="text" matInput placeholder="Domicilio Fiscal" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Correo electrónico</mat-label>
                  <input formControlName="email" type="text" matInput placeholder="Correo electrónico" />
                </mat-form-field>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Datos bancarios </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="mat_panel_content" [formGroup]="bankData()">
                <mat-form-field appearance="outline">
                  <mat-label>Nombre del Banco</mat-label>
                  <input formControlName="bankName" type="text" matInput placeholder="Nombre del Banco" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Número completo del titular de cuenta</mat-label>
                  <input formControlName="titularName" type="text" matInput placeholder="Número completo del titular de cuenta" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Número de cuenta</mat-label>
                  <input formControlName="accountNumber" type="text" matInput placeholder="Número de cuenta" />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>CLABE interbancaria</mat-label>
                  <input formControlName="clabe" type="text" matInput placeholder="CLABE interbancaria" />
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="updateFormGroup()" [disabled]="formGroup.invalid || formGroup.pristine" class="mat-accent" mat-raised-button>Guardar</button>
        <button (click)="resetFormGroup()" [disabled]="formGroup.pristine" class="mat-accent" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>