# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk