<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>

        <a href="http://www.fmvz.unam.mx/medicina/HospAves.html"
           target="_blank" mat-button class="golden" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">arrow_forward</mat-icon>
            <span>Abrir el sitio web</span>
        </a>

        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button routerLink="/documentation/getting-started/introduction">Mi Perfil</a>
            <span>&bull;</span>
            <button mat-button (click)="logOut()">Cerrar sesión</button>
        </div>

    </div>

</mat-toolbar>
