/* You can add global styles to this file, and also import other style files */
// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.elastic {
  padding: 0;
  @media screen and (min-width: 800px) {
    padding: 24px;
  }
}

.mat-expansion-panel-body {
  padding: 0 16px 16px!important;
}

.mat-expansion-panel-header {
  padding: 0 16px!important;
}
