@import "src/@fuse/scss/fuse";

app-artists {
    min-height: 100%;

    #boards {
        width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .header {
          .artist_link {
            margin: 0 10px;
            font-size: 16px;
            cursor: pointer;
            transition: all ease 0.3s;
            &:hover {
              color: #e42c54;
            }
          }
        }

        .board-list {
            padding: 32px 0;
            max-height: none !important;

            .board-list-item {
                min-width: 210px;
                min-height: 210px;
                width: 210px;
                height: 310px;
                margin: 16px;
                border-radius: 8px;
                background: rgba(255, 255, 255, 0.12);
                transition: box-shadow 150ms ease-in;
                cursor: pointer;

                &:hover:not(.add-new-board) {
                    @include mat-elevation(8);
                }

                .board-name {
                  padding: 5px 10px;
                  font-weight: 300;
                  font-size: 16px;
                  width: 100%;
                  text-align: center;
                  text-transform: uppercase;
                }

                .board-img {
                  height: 200px;
                  overflow: hidden;
                  margin-bottom: 2px;
                  img {
                    height: 100%;
                    width: 100%;
                    filter: brightness(70%);
                    object-fit: cover;
                  }
                }

                &.add-new-board {
                    background: rgba(0, 0, 0, 0.06);
                    border: 2px dashed rgba(255, 255, 255, 0.37);
                }
            }
        }
    }
}

